<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Registration Certificate</title>
</head>

<body
    style="font-family: Arial, sans-serif; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
    <div style="display: flex; gap: 1rem;">
        <!-- Front Card -->
        <div
            style="background: slategray; padding: .2rem; border-radius: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div style="background: white; border-radius: 12px;  padding: .4rem;">
                <div
                    style="width: 600px; height: 350px; background: #eaf7fc;   border-radius: 8px;  display: flex; flex-direction: column; padding: 1rem 0;">
                    <div
                        style="display: flex; justify-content: space-between; align-items: flex-start; padding: 0 1rem;">
                        <img src="../assets/gov.png" alt="Gov Logo" style="width: 35px;">
                        <div>
                            <p style="margin: 0; font-size: 1rem;">Indian Union Vehicle Registration Certificate</p>
                            <p style="margin: 0; font-size: 1rem;">Issued by Government of Rajasthan</p>
                        </div>
                        <div style="display: flex; align-items: center;  gap: 5px; ">
                            <span
                                style="font-size: 0.9rem; font-weight: bolder; background: skyblue; border-radius:100%; padding: 6px 4px;">NT</span>
                            <span
                                style="font-size: 0.9rem; font-weight: bold; background: orange; border-radius:100%; padding: 6px 4px;">RJ</span>
                        </div>
                    </div>
                    <div
                        style="flex: 1; display: flex;  margin-top: 1rem; border-bottom-left-radius: 12px; background: white; background-image: linear-gradient(white, #eaf7fc);">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                            <div
                                style="width: 50px; height: 50px; background: gold; border-radius: 4px; margin-left: .5rem; margin-top: .5rem;">
                            </div>
                            <div style="font-size: 0.8rem; margin-left: .5rem;">
                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Fuel</strong>
                                    <p style=" margin-top: 4px;">DIESEL</p>
                                </div>

                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Emission Norms</strong>
                                    <p style=" margin-top: 4px;">BHARAT STAGE VI</p>
                                </div>
                            </div>
                        </div>
                        <div
                            style="flex: 1; font-size: 0.8rem; z-index: 1; margin-top: -30px; padding-left:30px ; background: white; background-image: linear-gradient(white, #eaf7fc); padding: 0 1rem; border-top-left-radius: 20px; border-bottom-right-radius: 12px; ">
                            <div style="display: flex; ">
                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Regn No</strong>
                                    <p style=" margin-top: 4px;">RJ14UL1525</p>
                                </div>
                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Date of Regn</strong>
                                    <p style=" margin-top: 4px;">15/11/2024</p>
                                </div>
                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Regn. Validity</strong>
                                    <p style=" margin-top: 4px;">14/11/2039</p>
                                </div>

                                <strong style="font-weight: 800;">Owner</strong>

                            </div>
                            <div style="flex: 1; margin-top: -7px;">
                                <strong style="font-weight: 800;">Chassis No</strong>
                                <p style=" margin-top: 4px;">MA1TJ2YD6R6L57751</p>
                            </div>
                            <div style="flex: 1; margin-top: -7px;">
                                <strong style="font-weight: 800;">Engine/Motor No</strong>
                                <p style=" margin-top: 4px;">YDR4K76804</p>
                            </div>
                            <div style="flex: 1; margin-top: -7px;">
                                <strong style="font-weight: 800;">Owner Name</strong>
                                <p style=" margin-top: 4px;">MUKESH KUMAR KUDI</p>
                            </div>
                            <div style="flex: 1; margin-top: -7px;">
                                <strong style="font-weight: 800;">Son/Daughter/Wife of</strong>
                                <p style=" margin-top: 4px;">MEWA RAM JAT</p>
                            </div>
                            <div style="flex: 1; margin-top: -7px;">
                                <strong style="font-weight: 800;">Address</strong>
                                <p style=" margin-top: 4px; width: 300px;">P.NO-43 AAWASIYA YOJANA BHOMIYA NAGAR-1ST
                                    KALWAR ROAD
                                    JHOTWARA
                                    JAIPUR RAJASTHAN 302012</p>
                            </div>


                        </div>
                        <div
                            style=" background: white; background-image: linear-gradient(white, #eaf7fc); margin-top: -30px;">
                            <div style="width: 22px; height: 22px; border: black 1px solid; justify-content: center; align-items: center; display: flex;  border-radius: 12px; margin-right: 1rem; margin-top: 12px; margin-bottom: 10px;">
                                1
                            </div>
                            <p
                                style="writing-mode: vertical-rl; text-orientation: sideways; transform: rotate(180deg);  justify-content: center; display: flex; align-items: center; margin-right: 4px; font-size: 1rem;  ">
                                <strong>Card Issue Date:</strong> 15/11/2024</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div
            style="background: slategray; padding: .2rem; border-radius: 16px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div style="background: white; border-radius: 12px;  padding: .4rem;">
                <!-- Back Card -->
                <div
                    style="width: 600px; height: 350px; background: #eaf7fc; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; padding: 1rem 0; ">
                    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; ">
                        <div style="display: flex; align-items: center;  gap: 5px; ">
                            <span
                                style="font-size: 0.9rem; font-weight: bolder; background: skyblue; border-radius:100%; padding: 6px 4px;">NT</span>
                            <span
                                style="font-size: 0.9rem; font-weight: bold; background: orange; border-radius:100%; padding: 6px 4px;">RJ</span>
                        </div>
                        <p style="margin: 0;"><strong>Vehicle Class:</strong> Motor Car</p>
                    </div>
                    <div
                        style="flex: 1; display:  flex; font-size: 0.8rem;  margin-top: 1rem; border-bottom-left-radius: 12px; background: white; background-image: linear-gradient(white, #eaf7fc); padding: 0 0.6rem;">
                        <div style="flex: 1; display: flex; gap: 1rem; ">
                            <div style="display: flex; flex-direction: column; justify-content: start; ">
                                <div>
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Regn No</strong>
                                        <p style=" margin-top: 4px; ">RJ14UL1525</p>
                                    </div>
                                    <img src="../assets/qr.png" alt="Gov Logo" style="width: 120px; margin-top: -6px;">
                                </div>
                                <div>
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Month-Year of Mfg.</strong>
                                        <p style=" margin-top: 4px; ">11/2024</p>
                                    </div>
                                    <p style="margin-top: -8px;"><strong style="font-weight: 800;">No of
                                            Cylinders:</strong> 4</p>

                                </div>

                            </div>
                            <div style="flex: 1; font-size: 0.8rem;  margin-left: -5px;">
                                <div style="flex: 1;">
                                    <strong style="font-weight: 800;">Maker</strong>
                                    <p style=" margin-top: 4px; ">MAHINDRA & MAHINDRA LIMITED</p>
                                </div>
                                <div style="flex: 1; margin-top: -7px;">
                                    <strong style="font-weight: 800;">Model</strong>
                                    <p style=" margin-top: 4px; ">SCORPIO-N D MT 2WD Z8 S 7S</p>
                                </div>
                                <div style="display: flex; margin-top: -7px; gap: 4px;">
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Color</strong>
                                        <p style=" margin-top: 4px; ">C1EVRTWHT</p>
                                    </div>
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Body Type</strong>
                                        <p style=" margin-top: 4px; ">HARD TOP</p>
                                    </div>
                                </div>

                                <div style="flex: 1; margin-top: -7px;">
                                    <strong style="font-weight: 800;">Seating Capacity</strong>
                                    <p style=" margin-top: 4px; ">7</p>
                                </div>
                                <div style="flex: 1; margin-top: -7px;">
                                    <strong style="font-weight: 800;">Unladen Weight (Kg)</strong>
                                    <p style=" margin-top: 4px; ">2020</p>
                                </div>
                                <div style="display: flex; margin-top: -7px; white-space: nowrap; ">
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Cubic Cap.</strong>
                                        <p style=" margin-top: 4px; ">2184</p>
                                    </div>
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Horse Power</strong>
                                        <p style=" margin-top: 4px; ">N/A</p>
                                    </div>
                                    <div style="flex: 1;">
                                        <strong style="font-weight: 800;">Wheel Base (mm)</strong>
                                        <p style=" margin-top: 4px; ">2750</p>
                                    </div>
                                </div>
                                <div style="display: flex; margin-top: -7px;  justify-content: space-between;">
                                    <div style="flex: 1; ">
                                        <strong style="font-weight: 800;">Financier</strong>
                                        <p style=" margin-top: 4px; ">UNION BANK OF INDIA</p>
                                    </div>
                                    <div style="flex: 1; margin-right: -200px; margin-top: 2px;">
                                        <p>Registration Authority</p>
                                        <p style=" margin-top: -7px; ">JAIPUR (FIRST) RTO</p>
                                    </div>
                                </div>

                            </div>
                            <p
                                style="writing-mode: vertical-rl; text-orientation: sideways; transform: rotate(180deg);  justify-content: center; display: flex; align-items: center; margin-right: -5px; font-size: 1rem;">
                                Form 23A</p>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>